@media only screen and (min-width: 320px) and (max-width: 480px) {
  .blink {
    width: 100vw;
  }
  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
  }
  .admin-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .header-logo {
    width: auto;
    height: 46px;
    position: absolute;
    top: 270px;
    z-index: 1;
    left: 1em;
  }
  .hamburger {
    display: block;
    background-color: #1d1e23;
    position: relative;
    bottom: 25em;
    height: 50px;
  }
  .bars {
    background-color: var(--whitecolor);
    height: 4px;
    width: 25px;
    margin: 3px 0;
    display: block;
    position: relative;
    left: calc(100vw - 3em);
    top: 1em;
  }
  .hamburger.activenavbar .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburger.activenavbar .bars:nth-child(1) {
    transform: rotate(46deg) translate(5px, 2px);
  }
  .hamburger.activenavbar .bars:nth-child(3) {
    transform: rotate(133deg) translate(-8px, 4px);
  }
  #searchfieldinput {
    position: absolute;
    right: 7em;
    top: 22em;
    padding: 5px;
    display: none;
  }
  .navlinksul {
    position: relative;
    right: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #1d1e23;
  }
  .navlinksul.activenavbar {
    position: relative;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #1d1e23;
    right: 0em;
    z-index: 1;
  }
  .weapons-photo {
    background-image: url("/assets/images/gunsimages/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .weapons-section {
    color: var(--whitecolor);
    padding: 20px 30px;
    position: absolute;
    top: 26em;
  }
  .headline {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .hugetext {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 22px;
  }
  .shopnowbtn {
    background: var(--background-color);
    color: var(--whitecolor);
    border: none;
    font-weight: bolder;
    padding: 7px;
    margin: 26px 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: -81px -147px;
    padding: 0px;
  }
  .services-parent-container {
    padding: 123px 156px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    flex-wrap: wrap;
  }
  .aboutmetext {
    margin: 20px auto;
    text-align: justify;
  }
  .shopnow {
    background: var(--background-color);
    color: var(--whitecolor);
    border: none;
    font-weight: bolder;
    padding: 7px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .categories-parent-container {
    padding: 20px 0px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px auto;
  }
  .gunsphotos {
    height: 14em;
    width: 19em;
  }
  .category-cards {
    position: relative;
    margin: -16px 0px;
  }
  .category-cards h3 {
    position: absolute;
    left: 72px;
    top: 180px;
    text-align: center;
    color: var(--whitecolor);
    text-transform: uppercase;
    z-index: 1;
    transition: top 0.5s ease;
    font-weight: bold;
    font-size: 30px;
  }
  .category-cards button {
    transition: opacity 0.35s ease;
    position: absolute;
    left: 120px;
    top: 188px;
    text-align: center;
    opacity: 0;
  }
  .entire-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .entiresecsidephoto {
    height: 14em;
    width: 18em;
  }
  .entire-area .content {
    padding: 0px 20px;
    margin-left: 0px;
  }
  .easysafeshopping,
  .entire-area {
    padding: 50px 8px;
  }
  .new-arrivals-section {
    padding: 50px 10px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .new-arrivals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .easysafeshopping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .aboutperson {
    color: var(--background-color);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
  }
  .content p {
    padding: 14px 8px;
    text-align: justify;
  }
  .easysafeshopping .content {
    padding: 6px;
  }
  .popular-products-slider-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    margin: 50px 100px;
    gap: 14px;
    transition: all 0.35s ease;
  }
  .viewboxslider {
    width: 298px;
    height: 369px;
    position: relative;
    top: 14em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .hero-section {
    color: var(--whitecolor);
    background-color: transparent;
    margin: -71px 0px;
  }
  .hero-area {
    padding: 50px 0px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .saveupto,
  .freeshipping {
    width: 100vw;
    padding: 30px;
  }
  .blogs-cards {
    box-shadow: 0 0 16px 20px #eeeeee;
    background-color: var(--whitecolor);
    position: relative;
    color: black;
    width: 95vw;
  }
  .blogs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 33px auto;
    flex-direction: column;
  }
  .blogpost {
    height: auto;
    width: 90vw;
  }
  .gunslicensingsection {
    padding: 50px 15px;
  }
  .freeshopnowbtn {
    background-color: transparent;
    color: var(--whitecolor);
    border: 1px solid var(--whitecolor);
    font-weight: bolder;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    position: relative;
    left: 1em;
    top: 1em;
    text-transform: uppercase;
  }
  .freeproductoffercontainer {
    padding: 20px;
  }
  .freeproductoffercontainer .free {
    color: var(--whitecolor);
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
  }
  .freeproductoffercontainer .offerdetails {
    color: var(--whitecolor);
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
  }
  .faqs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    flex-direction: column;
  }
  .faqsphoto {
    height: auto;
    width: 90vw;
  }
  .accordion-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    transition: all 300ms ease;
    margin: 50px;
  }
  .accordion,
  .panel {
    width: 90vw;
  }
  .information-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -97px auto;
  }
  .information-cards i {
    font-size: 24px;
    position: static;
    /* right: 33px;
    top: 1px; */
  }
  .information-cards {
    padding: 8px 50px -16px 50px;
  }
  .information-cards h3::after {
    content: "";
    background-color: var(--whitecolor);
    width: 2px;
    height: 69px;
    display: inline-block;
    position: relative;
    left: -4em;
    top: 5em;
    transform: rotate(270deg);
  }
  .information-cards h3::after,
  .information-cards h3:nth-child(3) {
    opacity: 0;
  }
  .footer-container-inner {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
  }
  .aboutus-area,
  .contactus-area,
  .quick-links-area,
  .newsletter-area {
    padding: 30px;
    margin: 50px 0px -83px -100px;
  }
  /* .fa-paper-plane {
    position: relative;
    left: 183px;
    bottom: 29px;
  } */
  .gunsbrandscards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
  }
  .featuredproductscontainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 100px 0;
  }
  .cardsbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  .specification {
    /* width: 80vw; */
    padding: 5px 36px;
  }
  .latestproductscards h2 {
    text-align: center;
  }
  .featuredphotos {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    padding: 8px;
    margin: 0 -34px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputfield {
    display: block;
    border: 1px solid var(--background-color);
    outline: none;
    padding: 10px;
    width: 90vw;
    margin: 5px 0;
  }
  .contactsdetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px -100px;
    flex-direction: column;
  }
  .productdetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    padding: 50px 20px;
  }
  .productimage img {
    height: 15em;
    width: 15em;
  }
  .productdescription {
    text-align: justify;
  }
  .product-description .breadcrumb {
    padding: 0 20px;
  }
  .productname {
    margin: 20px 0;
    color: var(--background-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
  }
  .relatedproductcards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5px;
    place-items: center;
    margin: 50px 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .blink {
    width: 100vw;
  }
  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
  }
  .admin-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .header-logo {
    width: auto;
    height: 46px;
    position: absolute;
    top: 267px;
    z-index: 1;
    left: 1em;
  }
  .hamburger {
    display: block;
    background-color: #1d1e23;
    position: relative;
    bottom: 25em;
    height: 50px;
  }
  .bars {
    background-color: var(--whitecolor);
    height: 4px;
    width: 25px;
    margin: 3px 0;
    display: block;
    position: relative;
    left: calc(100vw - 3em);
    top: 1em;
  }
  .hamburger.activenavbar .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburger.activenavbar .bars:nth-child(1) {
    transform: rotate(46deg) translate(5px, 2px);
  }
  .hamburger.activenavbar .bars:nth-child(3) {
    transform: rotate(133deg) translate(-8px, 4px);
  }
  #searchfieldinput {
    position: absolute;
    right: 12em;
    top: 22em;
    padding: 5px;
    display: none;
  }
  .navlinksul {
    position: relative;
    right: 48em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #1d1e23;
  }
  .navlinksul.activenavbar {
    position: relative;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #1d1e23;
    right: 0em;
    z-index: 1;
  }
  .weapons-photo {
    background-image: url("/assets/images/gunsimages/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .weapons-section {
    color: var(--whitecolor);
    padding: 20px 30px;
    position: absolute;
    top: 26em;
  }
  .headline {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .hugetext {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 22px;
  }
  .shopnowbtn {
    background: var(--background-color);
    color: var(--whitecolor);
    border: none;
    font-weight: bolder;
    padding: 7px;
    margin: 26px 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: -81px -147px;
    padding: 0px;
  }
  .services-parent-container {
    padding: 123px 156px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    flex-wrap: wrap;
  }
  .aboutmetext {
    margin: 20px auto;
    text-align: justify;
  }
  .shopnow {
    background: var(--background-color);
    color: var(--whitecolor);
    border: none;
    font-weight: bolder;
    padding: 7px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .categories-parent-container {
    padding: 20px 0px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px auto;
  }
  .gunsphotos {
    height: 14em;
    width: 19em;
  }
  .category-cards {
    position: relative;
    margin: -16px 0px;
  }
  .category-cards h3 {
    position: absolute;
    left: 72px;
    top: 180px;
    text-align: center;
    color: var(--whitecolor);
    text-transform: uppercase;
    z-index: 1;
    transition: top 0.5s ease;
    font-weight: bold;
    font-size: 30px;
  }
  .category-cards button {
    transition: opacity 0.35s ease;
    position: absolute;
    left: 120px;
    top: 188px;
    text-align: center;
    opacity: 0;
  }
  .entire-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .entiresecsidephoto {
    height: 14em;
    width: 18em;
  }
  .entire-area .content {
    padding: 0px 20px;
    margin-left: 0px;
  }
  .easysafeshopping,
  .entire-area {
    padding: 50px 8px;
  }
  .new-arrivals-section {
    padding: 50px 10px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .new-arrivals-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .easysafeshopping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .viewboxslider {
    width: 398px;
    height: 400px;
    position: relative;
    top: 14em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .aboutperson {
    color: var(--background-color);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
  }
  .content p {
    padding: 14px 8px;
    text-align: justify;
  }
  .easysafeshopping .content {
    padding: 6px;
  }
  .popular-products-slider-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    margin: 50px 100px;
    gap: 14px;
    transition: all 0.35s ease;
  }
  .hero-section {
    color: var(--whitecolor);
    background-color: transparent;
    margin: -71px 0px;
  }
  .hero-area {
    padding: 50px 0px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .saveupto,
  .freeshipping {
    width: 100vw;
    padding: 30px;
  }
  .blogs-cards {
    box-shadow: 0 0 16px 20px #eeeeee;
    background-color: var(--whitecolor);
    position: relative;
    color: black;
    width: 95vw;
  }
  .blogs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 33px auto;
    flex-direction: column;
  }
  .blogpost {
    height: auto;
    width: 90vw;
  }
  .gunslicensingsection {
    padding: 50px 15px;
  }
  .freeshopnowbtn {
    background-color: transparent;
    color: var(--whitecolor);
    border: 1px solid var(--whitecolor);
    font-weight: bolder;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    position: relative;
    left: 1em;
    top: 1em;
    text-transform: uppercase;
  }
  .freeproductoffercontainer {
    padding: 20px;
  }
  .freeproductoffercontainer .free {
    color: var(--whitecolor);
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
  }
  .freeproductoffercontainer .offerdetails {
    color: var(--whitecolor);
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
  }
  .faqs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    flex-direction: column;
  }
  .faqsphoto {
    height: auto;
    width: 90vw;
  }
  .accordion-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    transition: all 300ms ease;
    margin: 50px;
  }
  .accordion,
  .panel {
    width: 90vw;
  }
  .information-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -97px auto;
  }
  .information-cards i {
    font-size: 24px;
    position: static;
    /* right: 33px;
    top: 1px; */
  }
  .information-cards {
    padding: 8px 50px -16px 50px;
  }
  .information-cards h3::after {
    content: "";
    background-color: var(--whitecolor);
    width: 2px;
    height: 69px;
    display: inline-block;
    position: relative;
    left: -4em;
    top: 5em;
    transform: rotate(270deg);
  }
  .information-cards h3::after,
  .information-cards h3:nth-child(3) {
    opacity: 0;
  }
  .footer-container-inner {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
  }
  .aboutus-area,
  .contactus-area,
  .quick-links-area,
  .newsletter-area {
    padding: 30px;
    margin: 50px 0px -83px -100px;
  }
  /* .fa-paper-plane {
    position: relative;
    left: 183px;
    bottom: 29px;
  } */
  .gunsbrandscards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    padding: 10px 0;
  }
  .featuredproductscontainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 100px 0;
  }
  .cardsbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    padding: 0;
    margin: 0;
    gap: 30px;
    background-color: transparent;
  }
  .specification {
    /* width: 80vw; */
    padding: 5px 36px;
  }
  .latestproductscards h2 {
    text-align: center;
  }
  .featuredphotos {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    padding: 8px;
    margin: 0 -34px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputfield {
    display: block;
    border: 1px solid var(--background-color);
    outline: none;
    padding: 10px;
    width: 90vw;
    margin: 5px 0;
  }
  .contactsdetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px -100px;
    flex-direction: column;
  }
  .productdetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    padding: 50px 20px;
  }
  .productimage img {
    height: 15em;
    width: 15em;
  }
  .productdescription {
    text-align: justify;
  }
  .product-description .breadcrumb {
    padding: 0 20px;
  }
  .productname {
    margin: 20px 0;
    color: var(--background-color);
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
  }
  .relatedproductcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5px;
    place-items: center;
    margin: 50px 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .blink {
    width: 100vw;
  }
  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
  }
  .admin-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header-logo {
    width: auto;
    height: 46px;
    position: absolute;
    top: 110px;
    z-index: 1;
    left: 1em;
  }
  .hamburger {
    display: block;
    background-color: #1d1e23;
    position: relative;
    bottom: 26em;
    height: 50px;
  }
  .bars {
    background-color: var(--whitecolor);
    height: 4px;
    width: 25px;
    margin: 3px 0;
    display: block;
    position: relative;
    left: calc(100vw - 3em);
    top: 1em;
  }
  .hamburger.activenavbar .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburger.activenavbar .bars:nth-child(1) {
    transform: rotate(46deg) translate(5px, 2px);
  }
  .hamburger.activenavbar .bars:nth-child(3) {
    transform: rotate(133deg) translate(-8px, 4px);
  }
  #searchfieldinput {
    position: absolute;
    right: 23em;
    top: 22em;
    padding: 5px;
    display: none;
  }
  .navlinksul {
    position: relative;
    right: 62em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #1d1e23;
  }
  .navlinksul.activenavbar {
    position: relative;
    top: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #1d1e23;
    right: 0em;
    z-index: 1;
  }
  .weapons-photo {
    background-image: url("/assets/images/gunsimages/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .weapons-section {
    color: var(--whitecolor);
    padding: 20px 30px;
    position: absolute;
    top: 17em;
  }
  .headline {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .hugetext {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 22px;
  }
  .shopnowbtn {
    background: var(--background-color);
    color: var(--whitecolor);
    border: none;
    font-weight: bolder;
    padding: 7px;
    margin: 26px 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 10px;
    margin: -81px -147px;
    padding: 0px;
  }
  .services-parent-container {
    padding: 123px 156px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    flex-wrap: wrap;
  }
  .aboutmetext {
    margin: 20px auto;
    text-align: justify;
  }
  .shopnow {
    background: var(--background-color);
    color: var(--whitecolor);
    border: none;
    font-weight: bolder;
    padding: 7px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .categories-parent-container {
    padding: 20px 0px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px auto;
    gap: 45px;
  }
  .gunsphotos {
    height: 14em;
    width: 19em;
  }
  .category-cards {
    position: relative;
    margin: -16px 0px;
  }
  .category-cards h3 {
    position: absolute;
    left: 72px;
    top: 180px;
    text-align: center;
    color: var(--whitecolor);
    text-transform: uppercase;
    z-index: 1;
    transition: top 0.5s ease;
    font-weight: bold;
    font-size: 30px;
  }
  .category-cards button {
    transition: opacity 0.35s ease;
    position: absolute;
    left: 120px;
    top: 188px;
    text-align: center;
    opacity: 0;
  }
  .entire-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .entiresecsidephoto {
    height: 14em;
    width: 18em;
  }
  .entire-area .content {
    padding: 0px 20px;
    margin-left: 0px;
  }
  .easysafeshopping,
  .entire-area {
    padding: 50px 8px;
  }
  .new-arrivals-section {
    padding: 50px 10px;
    background-image: url("/assets/images/gunsimages/entirebgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -21px 0;
  }
  .new-arrivals-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 30px;
  }
  .easysafeshopping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .aboutperson {
    color: var(--background-color);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
  }
  .content p {
    padding: 14px 8px;
    text-align: justify;
  }
  .easysafeshopping .content {
    padding: 6px;
  }
  .popular-products-slider-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    margin: 50px 100px;
    gap: 14px;
    transition: all 0.35s ease;
  }
  .viewboxslider {
    width: 750px;
    height: 400px;
    position: relative;
    top: 14em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .hero-section {
    color: var(--whitecolor);
    background-color: transparent;
    margin: -71px 0px;
  }
  .hero-area {
    padding: 50px 0px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .saveupto,
  .freeshipping {
    width: 100vw;
    padding: 30px;
  }
  .blogs-cards {
    box-shadow: 0 0 16px 20px #eeeeee;
    background-color: var(--whitecolor);
    position: relative;
    color: black;
    width: 45vw;
  }
  .blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 30px;
    margin: 33px auto;
  }
  .blogpost {
    height: auto;
    width: 45vw;
  }
  .gunslicensingsection {
    padding: 50px 15px;
  }
  .freeshopnowbtn {
    background-color: transparent;
    color: var(--whitecolor);
    border: 1px solid var(--whitecolor);
    font-weight: bolder;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    position: relative;
    left: 1em;
    top: 1em;
    text-transform: uppercase;
  }
  .freeproductoffercontainer {
    padding: 20px;
  }
  .freeproductoffercontainer .free {
    color: var(--whitecolor);
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
  }
  .freeproductoffercontainer .offerdetails {
    color: var(--whitecolor);
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
  }
  .faqs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    flex-direction: column;
  }
  .faqsphoto {
    height: auto;
    width: 90vw;
  }
  .accordion-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    transition: all 300ms ease;
    margin: 50px;
  }
  .accordion,
  .panel {
    width: 90vw;
  }
  .information-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    margin: -97px auto;
  }
  .information-cards i {
    font-size: 24px;
    position: static;
    /* right: 33px;
    top: 1px; */
  }
  .information-cards {
    padding: 8px 50px -16px 50px;
  }
  .information-cards h3::after {
    content: "";
    background-color: var(--whitecolor);
    width: 2px;
    height: 69px;
    display: inline-block;
    position: relative;
    left: -4em;
    top: 5em;
    transform: rotate(270deg);
  }
  .information-cards h3::after,
  .information-cards h3:nth-child(3) {
    opacity: 0;
  }
  .footer-container-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 50px;
    grid-gap: 30px;
  }
  .aboutus-area,
  .contactus-area,
  .quick-links-area,
  .newsletter-area {
    padding: 30px;
    margin: 50px 0px -83px -100px;
  }
  /* .fa-paper-plane {
    position: relative;
    left: 183px;
    bottom: 29px;
  } */
  .share-icon {
    position: absolute;
    top: 1em;
    left: 1em;
    opacity: 0;
    color: var(--whitecolor);
    font-size: 90px;
    transition: opacity 0.35s ease;
  }
  .gunsbrandscards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    padding: 10px 0;
  }
  .featuredproductscontainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 100px 0;
  }
  .cardsbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    padding: 0;
    gap: 30px;
    margin: 0;
    background-color: transparent;
  }
  .specification {
    /* width: 80vw; */
    padding: 5px 36px;
  }
  .latestproductscards h2 {
    text-align: center;
  }
  .featuredphotos {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    padding: 8px;
    margin: 0 -34px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputfield {
    display: block;
    border: 1px solid var(--background-color);
    outline: none;
    padding: 10px;
    width: 50vw;
    margin: 5px 0;
  }
  .contactsdetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 30px -100px; 
    flex-direction: column;  */
  }
  .productdetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    padding: 50px 20px;
  }
  .productimage img {
    height: 22em;
    width: 25em;
  }
  .productdescription {
    text-align: justify;
  }
  .product-description .breadcrumb {
    padding: 0 20px;
  }
  .productname {
    margin: 20px 0;
    color: var(--background-color);
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
  }
  .relatedproductcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5px;
    place-items: center;
    margin: 50px 15px;
  }
}
